<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.templateasdemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/siscom"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme"
        tools:ignore="ExtraText">
        <activity android:name=".ActivityPaymentMethods"></activity>
        <activity android:name=".ActivityOrderSummary" />
        <activity android:name=".ActivityChooseSchedule" />
        <activity android:name=".ActivitySplashBienvenida" />
        <activity android:name=".ActivityCart" />
        <activity android:name=".ActivityOrderProcessTab" />
        <activity android:name=".ActivityHistorialPedidos" />
        <activity android:name=".ActivityPedido" />
        <activity android:name=".ActivityProgramada" />
        <activity android:name=".ActivityTipoPedido" />
        <activity android:name=".ActivityDomicilio" />
        <activity android:name=".ActivityTipoEntrega" />
        <activity android:name=".ActivityPdf" />
        <activity android:name=".ActivitySearchHome" />
        <activity
            android:name=".Splash_Activity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SliderActivity" />
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ActivityPerfil" />
        <activity android:name=".ActivityCategory" />
        <activity android:name=".ActivityCategoryList" />
        <activity android:name=".ActivityLatestList" />
        <activity android:name=".ActivityTrendingList" />
        <activity android:name=".ActivityCouponList" />
        <activity android:name=".ActivityCouponDetail" />
        <activity android:name=".ActivityProductDetail" />
        <activity android:name=".ActivityGalleryDetail" />
        <activity android:name=".ActivityPlaceOrder" />
        <activity android:name=".ActivityPayment" />
        <activity android:name=".ActivityOrderProcess" />
        <activity android:name=".ActivityLogin" />
        <activity android:name=".ActivityRegister" />
        <activity android:name=".ActivitySingup2" />
        <activity android:name=".ActivitySingup3" />
        <activity android:name=".ActivityNotification" />
        <activity android:name=".PrivacyActivity" />
        <activity android:name=".ActivitySetting" />
        <activity android:name=".ActivitySearch" />
        <activity android:name=".ActivityTheme" />
        <activity
            android:name="com.app.theme2.MainActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.app.theme2.ActivityLogin" />
        <activity android:name="com.app.theme2.ActivityRegister" />
        <activity android:name="com.app.theme2.Splash_Activity" />
        <activity android:name="com.app.theme2.ActivityLatestList" />
        <activity android:name="com.app.theme2.ActivityTrendingList" />
        <activity android:name="com.app.theme2.ActivityCategory" />
        <activity android:name="com.app.theme2.ActivityTab" />
        <activity android:name="com.app.theme2.ActivityCouponList" />
        <activity android:name="com.app.theme2.ActivityCouponDetail" />
        <activity android:name="com.app.theme2.ActivityProductDetail" />
        <activity android:name="com.app.theme2.ActivityOrderProcessTab" />
        <activity android:name="com.app.theme2.ActivityPlaceOrder" />
        <activity android:name="com.app.theme2.ActivityPayment" />
        <activity android:name="com.app.theme2.ActivitySetting" />
        <activity android:name="com.app.theme2.ActivitySearch" />
        <activity android:name="com.app.theme2.ActivityProfile" />
        <activity
            android:name="com.app.theme2.ActivityEditProfile"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.app.theme2.ActivityAddress" />
        <activity
            android:name="com.app.theme2.ActivityEditAddress"
            android:windowSoftInputMode="adjustResize" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
    </application>

</manifest>